<ul class="remote-menu">
<li><a routerLink='/'>Home</a></li>

<li><a routerLink='fe-landing'>FeLanding</a></li>
<li><a routerLink='fe-student'>FeStudent</a></li>
<li><a routerLink='fe-teacher'>FeTeacher</a></li>
<li><a routerLink='fe-admin'>FeAdmin</a></li>
</ul>
<router-outlet></router-outlet>
